<div class="captcha-container">
    <div class="captcha-display">
      <p class="captcha-text">{{ captchaText }}</p>
    </div>
    <div class="row">
      <div class="col-10">
        <input type="text" [(ngModel)]="userInput" placeholder="Enter CAPTCHA" class="captcha-input" />
      </div>
      <div class="col-2">
        <button (click)="generateCaptcha()" class="refresh-button"><i class="fa fa-refresh" aria-hidden="true"></i></button>
      </div>
    </div>
    <div *ngIf="userInput && userInput.length > 0" class="captcha-hint">
      Please enter the CAPTCHA above.
    </div>
  </div>