<div *ngIf="events.length > 0" style="overflow-x: auto">
    <button (click)="addEvent()" class="btn btn-outline-primary btn-sm">Add</button>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Language</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>FAX</th>
            <th>EPABX</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
            <td>{{ event.name }}</td>
            <td>{{ event.status }}</td>
            <td>{{ event.lang_code }}</td>
            <td>{{ event.phone }}</td>
            <td>{{ event.email }}</td>
            <td>{{ event.address }}</td>
            <td>{{ event.fax }}</td>
            <td>{{ event.epabx }}</td>
            <td>
              <button (click)="editEvent(event.id)" class="btn btn-outline-primary btn-sm m-1">Edit</button>
              <button (click)="deleteEvent(event.id)" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div *ngIf="events.length === 0">
      <p>No Division Available.</p>
    </div>
    
    <!-- Bootstrap modal -->
    <div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editEventModalLabel">Edit Division</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="modifyEvent()" #eventForm="ngForm" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input 
                  type="text" 
                  id="name" 
                  class="form-control" 
                  [(ngModel)]="selectedEvent.name" 
                  name="name" 
                  required 
                  #name="ngModel"
                />
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                  <div *ngIf="name.errors?.['required']">Name is required.</div>
                </div>
              </div>
            
              <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select 
                  id="status" 
                  class="form-select" 
                  [(ngModel)]="selectedEvent.status" 
                  name="status" 
                  required
                  #status="ngModel"
                >
                  <option value="" disabled>Select Status</option>
                  <option value="1">Active</option>
                  <option value="2">Inactive</option>
                </select>
                <div *ngIf="status.invalid && (status.dirty || status.touched)" class="text-danger">
                  <div *ngIf="status.errors?.['required']">Status is required.</div>
                </div>
              </div>
            
              <div class="mb-3">
                <label for="lang_code" class="form-label">Language</label>
                <select 
                  id="lang_code" 
                  class="form-select" 
                  [(ngModel)]="selectedEvent.lang_code" 
                  name="lang_code" 
                  required
                  #langCode="ngModel"
                >
                  <option value="" disabled>Select Language</option>
                  <option value="en">English</option>
                  <option value="hi">Hindi</option>
                </select>
                <div *ngIf="langCode.invalid && (langCode.dirty || langCode.touched)" class="text-danger">
                  <div *ngIf="langCode.errors?.['required']">Language is required.</div>
                </div>
              </div>
            
              <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input 
                  type="text" 
                  id="phone" 
                  class="form-control" 
                  [(ngModel)]="selectedEvent.phone" 
                  name="phone" 
                  required 
                  #phone="ngModel"
                />
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger">
                  <div *ngIf="phone.errors?.['required']">Phone is required.</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input 
                  type="text" 
                  id="email" 
                  class="form-control" 
                  [(ngModel)]="selectedEvent.email" 
                  name="email" 
                  required 
                  #email="ngModel"
                />
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                  <div *ngIf="email.errors?.['required']">Email is required.</div>
                </div>
              </div>

              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input 
                  type="text" 
                  id="address" 
                  class="form-control" 
                  [(ngModel)]="selectedEvent.address" 
                  name="address" 
                  required 
                  #address="ngModel"
                />
                <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger">
                  <div *ngIf="address.errors?.['required']">Address is required.</div>
                </div>
              </div>

              <div class="mb-3">
                <label for="fax" class="form-label">FAX</label>
                <input 
                  type="text" 
                  id="fax" 
                  class="form-control" 
                  [(ngModel)]="selectedEvent.fax" 
                  name="fax" 
                  required 
                  #fax="ngModel"
                />
                <div *ngIf="fax.invalid && (fax.dirty || fax.touched)" class="text-danger">
                  <div *ngIf="fax.errors?.['required']">FAX is required.</div>
                </div>
              </div>

              <div class="mb-3">
                <label for="epabx" class="form-label">EPABX</label>
                <input 
                  type="text" 
                  id="epabx" 
                  class="form-control" 
                  [(ngModel)]="selectedEvent.epabx" 
                  name="epabx" 
                  required 
                  #epabx="ngModel"
                />
                <div *ngIf="epabx.invalid && (epabx.dirty || epabx.touched)" class="text-danger">
                  <div *ngIf="epabx.errors?.['required']">EPABX is required.</div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid">Save Changes</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addEventModalLabel">add Division</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="saveEvent()" #eventForm="ngForm" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" class="form-control" name="name" [(ngModel)]="selectedEvent.name" required #name="ngModel">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                  <div *ngIf="name.errors?.['required']">Name is required.</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select id="status" class="form-select" name="status" [(ngModel)]="selectedEvent.status" required #status="ngModel">
                  <option value="">Select Status</option>
                  <option value="1">Active</option>
                  <option value="2">Inactive</option>
                </select>
                <div *ngIf="status.invalid && (status.dirty || status.touched)" class="text-danger">
                  <div *ngIf="status.errors?.['required']">Status is required.</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="lang_code" class="form-label">Language</label>
                <select id="lang_code" class="form-select" name="lang_code" [(ngModel)]="selectedEvent.lang_code" required #lang_code="ngModel">
                  <option value="">Select Language</option>
                  <option value="en">English</option>
                  <option value="hi">Hindi</option>
                </select>
                <div *ngIf="lang_code.invalid && (lang_code.dirty || lang_code.touched)" class="text-danger">
                  <div *ngIf="lang_code.errors?.['required']">Language is required.</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" id="phone" class="form-control" name="phone" [(ngModel)]="selectedEvent.phone" required #phone="ngModel">
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger">
                  <div *ngIf="phone.errors?.['required']">Phone is required.</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" id="email" class="form-control" name="email" [(ngModel)]="selectedEvent.email" required #email="ngModel">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                  <div *ngIf="email.errors?.['required']">Email is required.</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" id="address" class="form-control" name="address" [(ngModel)]="selectedEvent.address" required #address="ngModel">
                <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger">
                  <div *ngIf="address.errors?.['required']">Address is required.</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="fax" class="form-label">FAX</label>
                <input type="text" id="fax" class="form-control" name="fax" [(ngModel)]="selectedEvent.fax" required #fax="ngModel">
                <div *ngIf="fax.invalid && (fax.dirty || fax.touched)" class="text-danger">
                  <div *ngIf="fax.errors?.['required']">FAX is required.</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="epabx" class="form-label">EPABX</label>
                <input type="text" id="epabx" class="form-control" name="epabx" [(ngModel)]="selectedEvent.epabx" required #epabx="ngModel">
                <div *ngIf="epabx.invalid && (epabx.dirty || epabx.touched)" class="text-danger">
                  <div *ngIf="epabx.errors?.['required']">EPABX is required.</div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid">Save Changes</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>