/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/framework/cache
/storage/framework
storage/framework/cache/data/53/c9/53c9aae19ee1f0e0dcfa738e8868c6cb1d775cac
/storage/framework/cache
/admin/src/app/environments
/admin/src/app/environments
