@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.loginpage{
    background: #37517e !important;
    height: 100vh;
}

.loginpage .container{
    position: relative;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}

.loginpage .container i{
    position: absolute;
    inset: 0;
    border: 1.5px solid #fff;
    transition: .5s;
}


.login{
    position: absolute;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.login h2{
    font-size: 22px;
color: #ffffff;
line-height: 20px;
font-weight: 700;
}
.login label{
    color: #ffffff;
}
 
.login .input-box{
    position: relative;
    width: 100%;
    margin: 0 0 10px;
}

.login .input-box input{
    position: relative;
    width: 100%;
    padding: 6px 20px;
    background: transparent;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
    font-size: 15px;
    color: #fff;
    box-shadow: none;
    outline: none;
}

.login .input-box button[type="submit"]{
    width: 100%;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    padding: 10px 10px;
 
    border-radius: 40px;
    font-size: 16px;
    color: #244163;
    box-shadow: none;
    outline: none;
    text-align: center;
    font-weight: 600;
    border: none;
    cursor: pointer;
    width: 96%;
}
.login .input-box #registration-btn{
    width: 100%;
    background: #06ae3e;
    padding: 10px 10px;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
    text-align: center;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    box-shadow: none;
    outline: none;
    text-align: center;
    font-weight: 600;
}


.login .input-box input::placeholder{ color: rgba(255, 255, 255, .75);}

.login .links{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.login .links a{
    color: #fff;
    text-decoration: none;
}
 
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

form.forn-bg {
    background: #2f4160;
    display: inline-block;
    width: 100%;
    padding: 30px 20px;
    border-radius: 10px;
}
 
.captcha-container[_ngcontent-ng-c1419368598] {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 12px auto;
    text-align: center;
}
.captcha-container[_ngcontent-ng-c1419368598] {
    padding: 12px !important;
}
.forget{
    margin-top: 2px;
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}
 
 