<div *ngIf="events.length > 0" style="overflow-x: auto">
    <button (click)="addEvent()" class="btn btn-outline-primary btn-sm" *ngIf="hasAnyPermission(['admin-document.update'])">Add</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Document</th>
                <th>Status</th>
                <th>Category Id</th>
                <th>Position</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Published Date</th>
                <th *ngIf="hasAnyPermission(['admin-document.update'])">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events">
                <td>{{ event.doc_name }}</td>
                <td>{{ event.description }}</td>
                <td>
                    <a *ngIf="event?.documentLink" (click)="viewDocument(event.documentLink.id)">
                        {{ event.documentLink.name }} Document
                      </a>
                </td>
                <td>{{ event.status }}</td>
                <td>{{ event.document_category_id }}</td>
                <td>{{ event.position }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.created_at }}</td>
                <td>
                    <button (click)="editEvent(event.id)" class="btn btn-outline-primary btn-sm m-1" *ngIf="hasAnyPermission(['admin-document.update'])">Edit</button>
                    <button (click)="deleteEvent(event.id)" class="btn btn-outline-danger btn-sm" *ngIf="hasAnyPermission(['admin-document.update'])">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<nav *ngIf="lastPage > 1"> <!-- Only show if there's more than one page -->
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)" [attr.aria-disabled]="currentPage === 1">Previous</a>
      </li>
      
      <li *ngFor="let page of [].constructor(lastPage); let i = index" class="page-item" [class.active]="i + 1 === currentPage">
        <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
      </li>
      
      <li class="page-item" [class.disabled]="currentPage === lastPage">
        <a class="page-link" (click)="changePage(currentPage + 1)" [attr.aria-disabled]="currentPage === lastPage">Next</a>
      </li>
    </ul>
  </nav>

<div *ngIf="events.length === 0">
    <p>No Document Available.</p>
</div>

<!-- Bootstrap modal -->
<div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 900px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEventModalLabel">Edit Document</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="modifyEvent()" #eventForm="ngForm" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="document_category_id" class="form-label">Category Id</label>
                                <select id="document_category_id" class="form-select" [(ngModel)]="selectedEvent.document_category_id" name="document_category_id" required #document_category_id="ngModel">
                                    <option value="" disabled>Select Category</option>
                                    <option value="1">Category 1</option>
                                    <option value="2">Category 2</option>
                                    <option value="3">Category 3</option>
                                </select>
                                <div *ngIf="document_category_id.invalid && (document_category_id.dirty || document_category_id.touched)" class="text-danger">
                                    <div *ngIf="document_category_id.errors?.['required']">Category is required.</div>
                                </div>
                            </div>
                            <div id="rolesEditContainer" class="mb-3"></div>
                            
                        </div>
                
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="doc_name" class="form-label">Title</label>
                                <input type="text" id="doc_name" class="form-control" [(ngModel)]="selectedEvent.doc_name" name="doc_name" required #doc_name="ngModel" />
                                <div *ngIf="doc_name.invalid && (doc_name.dirty || doc_name.touched)" class="text-danger">
                                    <div *ngIf="doc_name.errors?.['required']">Title is required.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea id="description" class="form-control" [(ngModel)]="selectedEvent.description" name="description"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="doc_type" class="form-label">Document Type</label>
                                <input type="text" id="doc_type" class="form-control" [(ngModel)]="selectedEvent.doc_type" name="doc_type" required #doc_type="ngModel" />
                                <div *ngIf="doc_type.invalid && (doc_type.dirty || doc_type.touched)" class="text-danger">
                                    <div *ngIf="doc_type.errors?.['required']">Document Type is required.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="status" class="form-label">Status</label>
                                <select id="status" class="form-select" [(ngModel)]="selectedEvent.status" name="status" required #status="ngModel">
                                    <option value="" disabled>Select Status</option>
                                    <option value="1">Draft</option>
                                    <option value="2">Pending</option>
                                    <option value="3">Published</option>
                                </select>
                                <div *ngIf="status.invalid && (status.dirty || status.touched)" class="text-danger">
                                    <div *ngIf="status.errors?.['required']">Status is required.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="position" class="form-label">Position</label>
                                <input type="number" id="position" class="form-control" [(ngModel)]="selectedEvent.position" name="position" required #position="ngModel" />
                                <div *ngIf="position.invalid && (position.dirty || position.touched)" class="text-danger">
                                    <div *ngIf="position.errors?.['required']">Position is required.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="start_date" class="form-label">Start Date</label>
                                <input type="date" id="start_date" class="form-control" [(ngModel)]="selectedEvent.start_date" name="start_date" required #startDate="ngModel" />
                                <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="text-danger">
                                    <div *ngIf="startDate.errors?.['required']">Start Date is required.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="end_date" class="form-label">End Date</label>
                                <input type="date" id="end_date" class="form-control" [(ngModel)]="selectedEvent.end_date" name="end_date" required #endDate="ngModel" />
                                <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="text-danger">
                                    <div *ngIf="endDate.errors?.['required']">End Date is required.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="doc" class="form-label">Upload Document</label>
                                <input type="file" id="doc" name="doc" class="form-control" (change)="oneditFileChange($event)" accept=".pdf" />
                                <div *ngIf="selectedFileError" class="text-danger">
                                    <div>{{ selectedFileError }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid">Save Changes</button>
                </form>
                

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 990px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEventModalLabel">Add Document</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="saveEvent()" #eventForm="ngForm" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="document_category_id" class="form-label">Category Id</label>
                                <select id="document_category" class="form-select" [(ngModel)]="selectedEvent.document_category_id" name="document_category_id" required #document_category="ngModel">
                                    <option value="" disabled>Select Category</option>
                                </select>
                                <div *ngIf="document_category_id.invalid && (document_category_id.dirty || document_category_id.touched)" class="text-danger">
                                    <div *ngIf="document_category_id.errors?.['required']">Category is required.</div>
                                </div>
                            </div>
                            <div id="rolesContainer" class="mb-3"></div>
                            
                        </div>
                
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="doc_name" class="form-label">Title</label>
                                <input type="text" id="doc_name" class="form-control" name="doc_name" [(ngModel)]="selectedEvent.doc_name" required #doc_name="ngModel">
                                <div *ngIf="doc_name.invalid && (doc_name.dirty || doc_name.touched)" class="text-danger">
                                    <div *ngIf="doc_name.errors?.['required']">Title is required.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea id="description" class="form-control" name="description" [(ngModel)]="selectedEvent.description"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="doc_type" class="form-label">Document Type</label>
                                <input type="text" id="doc_type" class="form-control" [(ngModel)]="selectedEvent.doc_type" name="doc_type" required #doc_type="ngModel" />
                                <div *ngIf="doc_type.invalid && (doc_type.dirty || doc_type.touched)" class="text-danger">
                                    <div *ngIf="doc_type.errors?.['required']">Document Type is required.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="status" class="form-label">Status</label>
                                <select id="status" class="form-select" name="status" [(ngModel)]="selectedEvent.status" required #status="ngModel">
                                    <option value="" disabled>Select Status</option>
                                    <option value="1">Draft</option>
                                    <option value="2">Pending</option>
                                    <option value="3">Published</option>
                                </select>
                                <div *ngIf="status.invalid && (status.dirty || status.touched)" class="text-danger">
                                    <div *ngIf="status.errors?.['required']">Status is required.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="position" class="form-label">Position</label>
                                <input type="number" id="position" class="form-control" [(ngModel)]="selectedEvent.position" name="position" required #position="ngModel" />
                                <div *ngIf="position.invalid && (position.dirty || position.touched)" class="text-danger">
                                    <div *ngIf="position.errors?.['required']">Position is required.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="start_date" class="form-label">Start Date</label>
                                <input type="date" id="start_date" class="form-control" name="start_date" [(ngModel)]="selectedEvent.start_date" required #start_date="ngModel">
                                <div *ngIf="start_date.invalid && (start_date.dirty || start_date.touched)" class="text-danger">
                                    <div *ngIf="start_date.errors?.['required']">Start date is required.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="end_date" class="form-label">End Date</label>
                                <input type="date" id="end_date" class="form-control" name="end_date" [(ngModel)]="selectedEvent.end_date" required #end_date="ngModel">
                                <div *ngIf="end_date.invalid && (end_date.dirty || end_date.touched)" class="text-danger">
                                    <div *ngIf="end_date.errors?.['required']">End date is required.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="document" class="form-label">Upload Document</label>
                                <input type="file" id="document" name="document" class="form-control" (change)="onFileChange($event)" accept=".pdf">
                                <div *ngIf="!fileToUpload" class="text-danger">
                                    Document is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid">Save Changes</button>
                </form>
                

            </div>
        </div>
    </div>
</div>