<aside class="main-sidebar sidebar-dark-primary elevation-4 sidebar-brand">
    <a href="#" class="brand-link">
      <img src="assets/logo.png" alt="AdminLTE Logo" class="brand-image elevation-3" style="background: #fff;">
      <span class="brand-text font-weight-light">BCAS</span>
    </a>
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
            <a [routerLink]="['/dashboard']" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="hasAnyPermission(['admin-document.view'])">
            <a href="javascript:void(0)" class="nav-link" aria-expanded="true">
              <i class="nav-icon fas fa-th"></i><span>Restricted Module</span>
            </a>
            <ul>
              <li class="nav-item" *ngIf="hasAnyPermission(['admin-document.update'])">
                <a [routerLink]="['audit']" class="nav-link">
                  <p>Audit</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['admin-document.view'])">
                <a [routerLink]="['admin-doc']" class="nav-link">
                  <p>Restricted Documents</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['admin-document.update'])">
                <a [routerLink]="['admin-doc-categories']" class="nav-link">
                  <p>Restricted Document Categories</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['admin-document.update'])">
                <a [routerLink]="['/user']" class="nav-link">
                  <p>User</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasPermission('role.view')" [ngClass]="{ 'active': isActive('/admin/roles') }">
                <a class="nav-link" routerLink="/admin/roles">All Roles</a>
              </li>
            </ul>
          </li>

          <!-- Security Clearance -->
          <li *ngIf="hasPermission('dashboard.view')" class="nav-item">
            <a [routerLink]="['/opsi-security']" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>Security Clearance(OPS-1)</p>
            </a>
          </li>

          <!-- Security Program -->
          <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
            <a href="javascript:void(0)" class="nav-link" aria-expanded="true">
              <i class="nav-icon fas fa-th"></i><span>Security Program</span>
            </a>
            <ul>
              <li *ngIf="hasPermission('dashboard.view')" class="nav-item">
                <a [routerLink]="['/ops-security']" class="nav-link">
                  <p>Security Programme(OPS-2)</p>
                </a>
              </li>
              <li *ngIf="hasPermission('dashboard.view')" class="nav-item">
                <a [routerLink]="['/catering']" class="nav-link">
                  <p>Catering</p>
                </a>
              </li>
              <li *ngIf="hasPermission('dashboard.view')" class="nav-item">
                <a [routerLink]="['/airport']" class="nav-link">
                  <p>RASP</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/airlines']" class="nav-link">
                  <p>AOSP</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- CMS -->
          <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
            <a href="javascript:void(0)" class="nav-link" aria-expanded="true">
              <i class="nav-icon fas fa-th"></i><span>CMS</span>
            </a>
            <ul>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/acts-and-policies']" class="nav-link">
                  <p>Acts and Policies</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/circulars']" class="nav-link">
                  <p>Circulars</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/events']" class="nav-link">
                  <p>Events</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/tenders']" class="nav-link">
                  <p>Tenders</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/notices']" class="nav-link">
                  <p>Notices</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/vacancies']" class="nav-link">
                  <p>Vacancies</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/division']" class="nav-link">
                  <p>Division</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/region']" class="nav-link">
                  <p>Region</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/common-title']" class="nav-link">
                  <p>Common Title</p>
                </a>
              </li>
              <li *ngIf="hasPermission('dashboard.view')" class="nav-item">
                <a [routerLink]="['/gallery']" class="nav-link">
                  <p>Gallery</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/contact']" class="nav-link">
                  <p>Contact</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/quiz']" class="nav-link">
                  <p>Quiz</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/quiz-result']" class="nav-link">
                  <p>Quiz Result</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/slider']" class="nav-link">
                  <p>Slider</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/slide']" class="nav-link">
                  <p>Slide</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasPermission('menu.view')" [ngClass]="{ 'active': isActive('/admin/menus') }">
                <a class="nav-link" [routerLink]="['/organization-structure']" >
                  <p>Organization Structure</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- Training -->
          <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
            <a href="javascript:void(0)" class="nav-link" aria-expanded="true">
              <i class="nav-icon fas fa-th"></i><span>Training</span>
            </a>
            <ul>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/avsec-training-calender']" class="nav-link">
                  <p>AVSEC Training Calender</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
                <a [routerLink]="['/asti']" class="nav-link">
                  <p>Approved ASTI</p>
                </a>
              </li>
            </ul>
          </li>
          
          
          
          
          
          
          
          <!-- <li class="nav-item" *ngIf="hasAnyPermission(['dashboard.view'])">
            <a [routerLink]="['/forms']" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Forms
              </p>
            </a>
          </li> -->
          
           <!-- Roles & Permissions -->
        <!-- <li class="nav-item" *ngIf="hasAnyPermission(['role.create', 'role.view', 'role.edit', 'role.delete'])">
          <a href="javascript:void(0)" class="nav-link" aria-expanded="true">
            <i class="fa fa-tasks"></i><span>Roles & Permissions</span>
          </a>
          <ul>
            
          </ul>
        </li> -->

        <!-- Admins -->
        <!-- <li *ngIf="hasAnyPermission(['admin.create', 'admin.view', 'admin.edit', 'admin.delete'])">
          <a href="javascript:void(0)" aria-expanded="true">
            <i class="fa fa-user"></i><span>Admins/Users</span>
          </a>
          <ul>
            <li *ngIf="hasPermission('admin.view')" [ngClass]="{ 'active': isActive('/admin/admins') }">
              <a routerLink="/admin/admins">All Admins/Users</a>
            </li>
           
          </ul>
        </li> -->
        
        <!-- Menus -->
        <!-- <li class="nav-item" *ngIf="hasAnyPermission(['menu.create', 'menu.view', 'menu.edit', 'menu.delete'])">
          <a href="javascript:void(0)" class="nav-link" aria-expanded="true">
            <i class="fa fa-user"></i><span>Menus</span>
          </a>
          <ul>
            
          </ul>
        </li> -->

        <!-- Divisions -->
        <!-- <li *ngIf="hasAnyPermission(['course.create', 'course.view', 'course.edit', 'course.delete'])">
          <a href="javascript:void(0)" aria-expanded="true">
            <i class="fa fa-building-o"></i><span>Divisions</span>
          </a>
          <ul>
            <li *ngIf="hasPermission('course.view')" [ngClass]="{ 'active': isActive('/admin/courses') }">
              <a routerLink="/admin/courses">All Courses</a>
            </li>
            <li *ngIf="hasPermission('course.create')" [ngClass]="{ 'active': isActive('/admin/courses/create') }">
              <a routerLink="/admin/courses/create">Create Course</a>
            </li>
          </ul>
        </li> -->
        </ul>
      </nav>
    </div>
  </aside>
  