<aside class="main-sidebar sidebar-dark-primary elevation-4 sidebar-brand">
    <a href="#" class="brand-link">
      <img src="assets/logo.png" alt="AdminLTE Logo" class="brand-image elevation-3" style="background: #fff;">
      <span class="brand-text font-weight-light">BCAS</span>
    </a>
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/acts-and-policies']" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Acts and Policies
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/circulars']" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Circulars
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/events']" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Events
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/forms']" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Forms
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/tenders']" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Tenders
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/notices']" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Notices
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/vacancies']" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Vacancies
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/division']" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Division
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/region']" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Region
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  