/* Circle Avatar Style */
.circle-avatar {
        padding: 2px 9px;
    background-color: #293976;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #293976;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
