.Registration-bg{
    background: url(../../../assets/img/login-bg.png);
    height: 100vh;
    background-size: cover;
  }
  label.form-label {
      font-weight: 600 !important;
      color: #fff;
      margin: 0 0 4px;
  }
  button.btn.Login {
      width: 100%;
  }
  
  .register-form{
    height: 300px;
    overflow: auto;
  }