<!-- sidebar.component.html -->
<div id="mySidebar" class="sidebar">
    <button class="openbtn float-right" (click)="toggleNav()" style="margin-top: 23px;">X</button>
  
    <div class="sidebar-header">
      <div class="logo">
        <a routerLink="/admin/dashboard">
          <h2 class="text-white">Admin</h2>
        </a>
      </div>
    </div>
  
    <div class="main-menu">
      <div class="menu-inner">
        <nav>
          <ul class="metismenu" id="menu">
  
            <li *ngIf="hasPermission('dashboard.view')" class="active">
              <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>Dashboard</span></a>
              <ul>
                <li [ngClass]="{ 'active': isActive('/admin/dashboard') }">
                  <a routerLink="/admin/dashboard">Dashboard</a>
                </li>
              </ul>
            </li>
  
            <!-- Roles & Permissions -->
            <li *ngIf="hasAnyPermission(['role.create', 'role.view', 'role.edit', 'role.delete'])">
              <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-tasks"></i><span>Roles & Permissions</span></a>
              <ul>
                <li *ngIf="hasPermission('role.view')" [ngClass]="{ 'active': isActive('/admin/roles') }">
                  <a routerLink="/admin/roles">All Roles</a>
                </li>
                <li *ngIf="hasPermission('role.create')" [ngClass]="{ 'active': isActive('/admin/roles/create') }">
                  <a routerLink="/admin/roles/create">Create Role</a>
                </li>
              </ul>
            </li>
  
            <!-- Admins -->
            <li *ngIf="hasAnyPermission(['admin.create', 'admin.view', 'admin.edit', 'admin.delete'])">
              <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-user"></i><span>Admins</span></a>
              <ul>
                <li *ngIf="hasPermission('admin.view')" [ngClass]="{ 'active': isActive('/admin/admins') }">
                  <a routerLink="/admin/admins">All Admins</a>
                </li>
                <li *ngIf="hasPermission('admin.create')" [ngClass]="{ 'active': isActive('/admin/admins/create') }">
                  <a routerLink="/admin/admins/create">Create Admin</a>
                </li>
              </ul>
            </li>
  
            <!-- Menus -->
            <li *ngIf="hasAnyPermission(['menu.create', 'menu.view', 'menu.edit', 'menu.delete'])">
              <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-user"></i><span>Menus</span></a>
              <ul>
                <li *ngIf="hasPermission('menu.view')" [ngClass]="{ 'active': isActive('/admin/menus') }">
                  <a routerLink="/admin/menus">All Menus</a>
                </li>
                <li *ngIf="hasPermission('menu.create')" [ngClass]="{ 'active': isActive('/admin/menus/create') }">
                  <a routerLink="/admin/menus/create">Create Menu</a>
                </li>
              </ul>
            </li>
  
            <!-- Divisions -->
            <li *ngIf="hasAnyPermission(['course.create', 'course.view', 'course.edit', 'course.delete'])">
              <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-building-o"></i><span>Divisions</span></a>
              <ul>
                <li *ngIf="hasPermission('course.view')" [ngClass]="{ 'active': isActive('/admin/courses') }">
                  <a routerLink="/admin/courses">All Courses</a>
                </li>
                <li *ngIf="hasPermission('course.create')" [ngClass]="{ 'active': isActive('/admin/courses/create') }">
                  <a routerLink="/admin/courses/create">Create Course</a>
                </li>
              </ul>
            </li>
  
          </ul>
        </nav>
      </div>
    </div>
  </div>
  