<div class="wrapper-w" *ngIf="hasAnyPermission(['admin-document.view'])">
  <div class="row">
    <!-- Loop through documentCount data -->
    <div *ngFor="let document of documentCount.data | keyvalue; let i = index" class="col-xs-12 col-md-3">
      <div class="card-d" [style.background-color]="cardColors[i]">
        <h6>{{ document.key }}</h6>
        <p>{{ document.value }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="chart-w">
        <app-document-category-chart></app-document-category-chart>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-md-6">
        <div class="chart-w">
           <h6>Chart 2</h6>
        </div>
      </div>  -->
  </div>
</div>